body {
  position: relative;
}

.nav-tabs {
  border-bottom: none;
}

.item {
  height: 15vh;
  width: 90%;
  margin: 0 auto;
  background: gray;
  border-radius: 30px;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

.col-sm-4 {
  padding: 0;
}

.col-10 {
  margin: 0 auto;
}

#colorDisplay {
  text-transform: uppercase;
}

#message {
  text-align: center;
  display: block;
  width: 30%;
  height: 16px;
  margin: 0 auto;
}